*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Times New Roman', Times, serif;
}

.contenedor{
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla{
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid #343759;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.tabla>h2{
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla img{
    width: 64px;
    margin-bottom: 35px;
}

.tabla>h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.tabla>p{
    display: block;
    margin-bottom: 20px;
}

.boton{
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: tomato;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover{
    background: #EAEAEA;
    color: blueviolet;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .tabla{
        width: 45%;
        padding: 30px;
    }

    .tabla > h2{
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px){
    .tabla{
        width: 85%;
        padding: 20px;  
    }
}