*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: blanchedalmond;
}

h1{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

h2{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

h3{
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
    font-size: 20px; 
}

h4{
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
    font-size: 20px; 
}

.linea{
    background: black;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
}
